<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="users-list-wrapper">
      <div class="card">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center">{{ translateSnackBar.year }}</label>
              <ng-select (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                [multiple]="false" [closeOnSelect]="true" [clearable]="false" [(ngModel)]="year"
                (ngModelChange)="getRequest()">
                <ng-option *ngFor="let t of yearArr" [value]="t.year">{{ t.year }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-3 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center">{{ translateSnackBar.month }}</label>
              <ng-select (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                [multiple]="false" [closeOnSelect]="true" [clearable]="false" [(ngModel)]="month"
                (ngModelChange)="getRequest()">
                <ng-option *ngFor="let t of monthArr" [value]="t.id">{{ t.month }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-3 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center">{{ translateSnackBar.diagram }}</label>
              <ng-select (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                [multiple]="false" [closeOnSelect]="true" [(ngModel)]="diagram"
                (ngModelChange)="showDiagram()">
                <ng-option *ngFor="let d of diagramArr" [value]="d.id">{{ d.name }}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div *ngIf="showAll || showWave" id="chartWave">
          <apx-chart
            [series]="ChartOptionsWave.series"
            [chart]="ChartOptionsWave.chart"
            [xaxis]="ChartOptionsWave.xaxis"
            [dataLabels]="ChartOptionsWave.dataLabels"
            [yaxis]="ChartOptionsWave.yaxis"
            [colors]="ChartOptionsWave.colors"
            [legend]="ChartOptionsWave.legend"
            [fill]="ChartOptionsWave.fill"
          ></apx-chart>
        </div>
        <div *ngIf="showAll || showResorceIn" id="chartInResource">
          <apx-chart
            [series]="ChartOptionsInResource.series"
            [chart]="ChartOptionsInResource.chart"
            [dataLabels]="ChartOptionsInResource.dataLabels"
            [plotOptions]="ChartOptionsInResource.plotOptions"
            [xaxis]="ChartOptionsInResource.xaxis"
          ></apx-chart>
        </div>
        <div *ngIf="showAll || showResorceOut" id="chartOutResource">
          <apx-chart
            [series]="ChartOptionsOutResource.series"
            [chart]="ChartOptionsOutResource.chart"
            [dataLabels]="ChartOptionsOutResource.dataLabels"
            [plotOptions]="ChartOptionsOutResource.plotOptions"
            [xaxis]="ChartOptionsOutResource.xaxis"
          ></apx-chart>
        </div>
        <!-- <div id="radialbar-chart" #apexRadialChartRef>
          <apx-chart [series]="apexRadialChart.series" [chart]="{
              height: 400,
              width: 400,
              type: 'radialBar'
            }" [plotOptions]="apexRadialChart.plotOptions" [labels]="apexRadialChart.labels"
            [colors]="apexRadialChart.colors" [stroke]="apexRadialChart.stroke"
            [legend]="apexRadialChart.legend"></apx-chart>
        </div> -->
        <section class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="rows" class="example-table">
            <!-- Position Column -->
            <ng-container matColumnDef="computerName">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [clearable]="false" [(ngModel)]="computerName"
                      (ngModelChange)="getRequest()">
                      <ng-option *ngFor="let t of computerNameArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.computerName }}</span>
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.computerName}}
              </td>
            </ng-container>

            <ng-container matColumnDef="resourceInName">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [clearable]="false" [(ngModel)]="resourceInName"
                      (ngModelChange)="showDiagram()">
                      <ng-option *ngFor="let t of resourceInArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.resourceIn }}</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <div *ngFor="let item of element.array.resourceInName" class="truncate">
                  {{item}}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="resourceOutName">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [clearable]="false" [(ngModel)]="resourceOutName"
                      (ngModelChange)="getRequest()">
                      <ng-option *ngFor="let t of resourceOutArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.resourceOut }}</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <div *ngFor="let item of element.array.resourceOutName" class="truncate">
                  {{item}}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="count">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body"></div>
                <span class="th-header">{{ translateSnackBar.total }}</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <div *ngFor="let item of element.array.count" class="truncate">
                  {{item}}
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </section>
      </div>
    </section>
  </div>
</div>
<div *ngIf="loading" class="loader-section">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
