<div *blockUI="'block'" class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="users-list-wrapper">
      <div class="card">
        <div class="row">
          <div class="col-md-3 col-12">
                <div class="d-flex align-items-center m-1">
                  <button rippleEffect (click)="size = size + 1" class="btn size-btn text-primary p-0" [disabled]="size >= 22">A<span [data-feather]="'zoom-in'" [class]="'ficon'"></span></button>
                  <span class="pt-line-3">|</span>
                  <button rippleEffect (click)="size = size - 1" class="btn size-btn text-primary p-0" [disabled]="size <= 8">A<span [data-feather]="'zoom-out'" [class]="'ficon'"></span></button>
                  <button rippleEffect (click)="clarAll()" class="btn size-btn m-0 mx-2 text-primary p-0">{{ translateSnackBar.clearAll }}</button>
                </div>
          </div>
          <div class="col-md-3 col-12">
            <div class="d-flex align-items-center m-1">
              <label class="d-flex align-items-center">{{ translateSnackBar.year }}</label>
              <ng-select [virtualScroll]="true" appendTo="body" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                [multiple]="false" [closeOnSelect]="true" [clearable]="false" [(ngModel)]="year"
                (ngModelChange)="getRequest()">
                <ng-option *ngFor="let t of yearArr" [value]="t.year">{{ t.year }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-3 col-12">
            <div class="d-flex align-items-center m-1">
              <label class="d-flex align-items-center">{{ translateSnackBar.month }}</label>
              <ng-select [virtualScroll]="true" appendTo="body" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                [multiple]="false" [closeOnSelect]="true" [clearable]="false" [(ngModel)]="month"
                (ngModelChange)="getRequest()">
                <ng-option *ngFor="let t of monthArr" [value]="t.id">{{ t.month }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-3 col-12">
            <div class="d-flex align-items-center m-1">
              <label class="d-flex align-items-center">{{ translateSnackBar.diagram }}</label>
              <ng-select [virtualScroll]="true" appendTo="body" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                [multiple]="false" [closeOnSelect]="true" [(ngModel)]="diagram" (ngModelChange)="showDiagram()">
                <ng-option *ngFor="let d of diagramArr" [value]="d.id">{{ d.name }}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div *ngIf="showAll || showCircle" id="chartCircle">
          <div class="flex">
            <h3>{{ translateSnackBar.monthCircle }}</h3>
            <i class="fa fa-info" mat-raised-button #tooltip="matTooltip" [matTooltip]="translateSnackBar.tooltipCircle"
              (click)="tooltip.toggle()" matTooltipPosition="right">
            </i>
          </div>
          <p *ngIf="monthTotal.length === 0">{{ translateSnackBar.msgNoChart }}</p>
          <apx-chart *ngIf="rows.length > 0" [series]="ChartOptionsCircle.series" [xaxis]="ChartOptionsCircle.xaxis"
            [dataLabels]="ChartOptionsCircle.dataLabels" [chart]="ChartOptionsCircle.chart"
            [grid]="ChartOptionsCircle.grid" [colors]="ChartOptionsWave.colors" [stroke]="ChartOptionsCircle.stroke"
            [title]="ChartOptionsCircle.title"></apx-chart>
        </div>
        <div *ngIf="showAll || showWave" id="chartWave">
          <div class="flex">
            <h3>{{ translateSnackBar.totalByYear }}</h3>
            <i class="fa fa-info" mat-raised-button #tooltip="matTooltip" [matTooltip]="translateSnackBar.tooltipWave"
              matTooltipPosition="right">
            </i>
          </div>
          <apx-chart [series]="ChartOptionsWave.series" [chart]="ChartOptionsWave.chart"
            [xaxis]="ChartOptionsWave.xaxis" [dataLabels]="ChartOptionsWave.dataLabels" [yaxis]="ChartOptionsWave.yaxis"
            [colors]="ChartOptionsWave.colors" [legend]="ChartOptionsWave.legend"
            [fill]="ChartOptionsWave.fill"></apx-chart>
        </div>
        <div *ngIf="(showAll || showResorceIn)" id="chartInResource">
          <div class="flex">
            <h3>{{ translateSnackBar.totalByName }}</h3>
            <i class="fa fa-info" mat-raised-button #tooltip="matTooltip" [matTooltip]="translateSnackBar.tooltipName"
              matTooltipPosition="right">
            </i>
          </div>
          <p *ngIf="rows.length === 0">{{ translateSnackBar.msgNoChart }}</p>
          <apx-chart *ngIf="rows.length > 0" [series]="ChartOptionsInResource.series"
            [chart]="ChartOptionsInResource.chart" [colors]="ChartOptionsInResource.colors"
            [dataLabels]="ChartOptionsInResource.dataLabels" [plotOptions]="ChartOptionsInResource.plotOptions"
            [xaxis]="ChartOptionsInResource.xaxis"></apx-chart>
        </div>
        <!-- <div *ngIf="showAll || showResorceOut" id="chartOutResource">
          <h3>{{ translateSnackBar.resourceOut }}</h3>
          <apx-chart
            [series]="ChartOptionsOutResource.series"
            [chart]="ChartOptionsOutResource.chart"
            [dataLabels]="ChartOptionsOutResource.dataLabels"
            [plotOptions]="ChartOptionsOutResource.plotOptions"
            [xaxis]="ChartOptionsOutResource.xaxis"
          ></apx-chart>
        </div> -->
        <section class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="rows" class="example-table">
            <!-- Position Column -->
            <ng-container matColumnDef="computerName">
              <th mat-header-cell *matHeaderCellDef placement="top-left" container="body" [ngbTooltip]="translateSnackBar.computerName">
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span class="badge rounded-circle badge-danger ms-1 m-0" *ngIf="computerName !== ''">{{computerName.length}}</span>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" appendTo="body" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [clearable]="false" [(ngModel)]="computerName"
                      (ngModelChange)="getFilters(0)">
                      <ng-option *ngFor="let t of computerNameArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.computerName }}</span>
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.name}}
              </td>
            </ng-container>

            <ng-container matColumnDef="resourceInName">
              <th mat-header-cell *matHeaderCellDef placement="top-left" container="body" [ngbTooltip]="translateSnackBar.resourceIn">
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span class="badge rounded-circle badge-danger ms-1 m-0" *ngIf="resourceInName !== ''">{{resourceInName.length}}</span>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" appendTo="body" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [clearable]="false" [(ngModel)]="resourceInName"
                      (ngModelChange)="getFilters(1)">
                      <ng-option *ngFor="let t of resourceInArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.resourceIn }}</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <div *ngFor="let item of element.resourceInName" class="truncate">
                  {{item}}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="resourceOutName">
              <th mat-header-cell *matHeaderCellDef placement="top-left" container="body" [ngbTooltip]="translateSnackBar.resourceOut">
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span class="badge rounded-circle badge-danger ms-1 m-0" *ngIf="resourceOutName !== ''">{{resourceOutName.length}}</span>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" appendTo="body" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [clearable]="false" [(ngModel)]="resourceOutName"
                      (ngModelChange)="getFilters(1)">
                      <ng-option *ngFor="let t of resourceOutArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.resourceOut }}</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <div *ngFor="let item of element.resourceOutName" class="truncate">
                  {{item}}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="count">
              <th mat-header-cell *matHeaderCellDef placement="top-left" container="body" [ngbTooltip]="translateSnackBar.total">
                <div class="filter-th" container="body"></div>
                <span class="th-header">{{ translateSnackBar.total }}</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <div *ngFor="let item of element.count" class="truncate">
                  {{item}}
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </section>
      </div>
    </section>
  </div>
</div>
