<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="users-list-wrapper">
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center">{{ translateSnackBar.show }}
                <ng-select [virtualScroll]="true" class="mx-25" [clearable]="false" [(ngModel)]="limit" (change)="pageChanged(1)">
                  <ng-option [value]="10">10</ng-option>
                  <ng-option [value]="15">15</ng-option>
                  <ng-option [value]="20">20</ng-option>
                  <ng-option [value]="25">25</ng-option>
                  <ng-option [value]="50">50</ng-option>
                  <ng-option [value]="100">100</ng-option>
                </ng-select>
                {{ translateSnackBar.result }}
              </label>
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
              <!-- <label class="d-flex align-items-center ml-1 ml-md-0">
                {{ translateSnackBar.search }}:
                <input [(ngModel)]="searchValue" name="searchValue" type="search" class="form-control ml-25"
                  (keyup)="pageChanged(1)" />
              </label> -->
              <button class="btn btn-primary ml-1" rippleEffect (click)="modalProfile('new')">
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i>
                <span class="d-none d-sm-inline-block"> {{ translateSnackBar.modalProfile }} </span>
              </button>
            </div>
          </div>
        </div>
        <section class="example-container mat-elevation-z8">
          <table mat-table
            [dataSource]="rows | paginate: { id: 'paginationId', itemsPerPage: limit, currentPage: cPage, totalItems: totalResult }"
             class="example-table">
            <!-- Position Column -->
            <ng-container matColumnDef="profileName">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selProfileName"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of profileNameArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.profileName }}</span>
                <button type="button" class="order-btn" (click)="sortType('profileName', !orderType, 0)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.profileName}}</td>
            </ng-container>

            <ng-container matColumnDef="groupCode">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selGroupCode"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of groupCodeArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.groupCode }}</span>
                <button type="button" class="order-btn" (click)="sortType('groupCode', !orderType, 1)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.groupCode}}</td>
            </ng-container>

            <ng-container matColumnDef="section">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selSection"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of sectionArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.section }}</span>
                <button type="button" class="order-btn" (click)="sortType('section', !orderType, 2)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.section}}</td>
            </ng-container>

            <ng-container matColumnDef="perimeter">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selPerimeter"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of perimeterArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.perimeter }}</span>
                <button type="button" class="order-btn" (click)="sortType('perimeter', !orderType, 3)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.perimeter}}</td>
            </ng-container>

            <ng-container matColumnDef="grM">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selGrM" (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of grmArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.grM }}</span>
                <button type="button" class="order-btn" (click)="sortType('grM', !orderType, 4)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.grM}}</td>
            </ng-container>

            <ng-container matColumnDef="primaryPress">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selPrimaryPress"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of primarypressArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.primaryPress }}</span>
                <button type="button" class="order-btn" (click)="sortType('primaryPress', !orderType, 5)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.primaryPress}}</td>
            </ng-container>

            <ng-container matColumnDef="alternativePress">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selAlternativePress"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of alternativepressArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.alternativePress }}</span>
                <button type="button" class="order-btn" (click)="sortType('alternativePress', !orderType, 6)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.alternativePress}}</td>
            </ng-container>

            <ng-container matColumnDef="size1">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selSize1" (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of size1Arr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.size1 }}</span>
                <button type="button" class="order-btn" (click)="sortType('size1', !orderType, 7)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.size1}}</td>
            </ng-container>

            <ng-container matColumnDef="size2">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selSize2" (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of size2Arr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.size2 }}</span>
                <button type="button" class="order-btn" (click)="sortType('size2', !orderType, 8)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.size2}}</td>
            </ng-container>

            <ng-container matColumnDef="size3">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selSize3" (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of size3Arr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.size3 }}</span>
                <button type="button" class="order-btn" (click)="sortType('size3', !orderType, 9)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.size3}}</td>
            </ng-container>

            <ng-container matColumnDef="size4">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selSize4" (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of size4Arr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.size4 }}</span>
                <button type="button" class="order-btn" (click)="sortType('size4', !orderType, 10)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.size4}}</td>
            </ng-container>

            <ng-container matColumnDef="usage">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selUsage" (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of usageArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.usage }}</span>
                <button type="button" class="order-btn" (click)="sortType('usage', !orderType, 11)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.usage}}</td>
            </ng-container>

            <ng-container matColumnDef="extrusionSpeed">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selExtrusionSpeed"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of extrusionspeedArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.extrusionSpeed }}</span>
                <button type="button" class="order-btn" (click)="sortType('extrusionSpeed', !orderType, 12)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.extrusionSpeed}}</td>
            </ng-container>

            <ng-container matColumnDef="extrusionSpeedSms">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selExtrusionSpeedSms"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of extrusionspeedsmsArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.extrusionSpeedSms }}</span>
                <button type="button" class="order-btn" (click)="sortType('extrusionSpeedSms', !orderType, 13)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.extrusionSpeedSms}}</td>
            </ng-container>

            <ng-container matColumnDef="opPerf">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selOpPerf"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of opperfArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.opPerf }}</span>
                <button type="button" class="order-btn" (click)="sortType('opPerf', !orderType, 14)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.opPerf}}</td>
            </ng-container>

            <ng-container matColumnDef="tbillet">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selTbillet"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of tbilletArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.tbillet }}</span>
                <button type="button" class="order-btn" (click)="sortType('tbillet', !orderType, 15)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.tbillet}}</td>
            </ng-container>

            <ng-container matColumnDef="tExit">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selTExit" (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of texitArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.tExit }}</span>
                <button type="button" class="order-btn" (click)="sortType('tExit', !orderType, 16)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.tExit}}</td>
            </ng-container>

            <ng-container matColumnDef="puller">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selPuller"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of pullerArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.puller }}</span>
                <button type="button" class="order-btn" (click)="sortType('puller', !orderType, 17)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.puller}}</td>
            </ng-container>

            <ng-container matColumnDef="scrapStart">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selScrapStart"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of scrapstartArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.scrapStart }}</span>
                <button type="button" class="order-btn" (click)="sortType('scrapStart', !orderType, 18)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.scrapStart}}</td>
            </ng-container>

            <ng-container matColumnDef="scrapStartSms">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selScrapStartSms"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of scrapstartsmsArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.scrapStartSms }}</span>
                <button type="button" class="order-btn" (click)="sortType('scrapStartSms', !orderType, 19)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.scrapStartSms}}</td>
            </ng-container>

            <ng-container matColumnDef="scrapEnd">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selScrapEnd"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of scrapendArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.scrapEnd }}</span>
                <button type="button" class="order-btn" (click)="sortType('scrapEnd', !orderType, 20)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.scrapEnd}}</td>
            </ng-container>

            <ng-container matColumnDef="cooling">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selCooling"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of coolingArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.cooling }}</span>
                <button type="button" class="order-btn" (click)="sortType('cooling', !orderType, 21)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.cooling}}</td>
            </ng-container>

            <ng-container matColumnDef="coolingSms">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selCoolingSms"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of coolingsmsArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.coolingSms }}</span>
                <button type="button" class="order-btn" (click)="sortType('coolingSms', !orderType, 22)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.coolingSms}}</td>
            </ng-container>

            <ng-container matColumnDef="coolingAdd">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selCoolingAdd"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of coolingaddArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.coolingAdd }}</span>
                <button type="button" class="order-btn" (click)="sortType('coolingAdd', !orderType, 23)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.coolingAdd}}</td>
            </ng-container>

            <ng-container matColumnDef="basketOrdering">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selBasketOrdering"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of basketorderingArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.basketOrdering }}</span>
                <button type="button" class="order-btn" (click)="sortType('basketOrdering', !orderType, 24)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.basketOrdering}}</td>
            </ng-container>

            <ng-container matColumnDef="notesExtrusion">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selNotesExtrusion"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of notesextrusionArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.notesExtrusion }}</span>
                <button type="button" class="order-btn" (click)="sortType('notesExtrusion', !orderType, 25)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.notesExtrusion}}</td>
            </ng-container>

            <ng-container matColumnDef="important">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selImportant"
                      (ngModelChange)="pageChanged(1)">
                      <ng-option *ngFor="let t of importantArr" [value]="t.name">{{ t.name }}
                      </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.important }}</span>
                <button type="button" class="order-btn" (click)="sortType('important', !orderType, 26)">
                  <div [ngStyle]="{'display': indColumn == 0 ? 'flex' : 'none' }">
                    <span [data-feather]="'arrow-up'" [class]="'ficon'"></span>
                  </div>
                  <div [ngStyle]="{'display': indColumn == 0 ? 'none' : 'flex' }">
                    <span [data-feather]="'arrow-down'" [class]="'ficon'"></span>
                  </div>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.important}}</td>
            </ng-container>

            <ng-container matColumnDef="inUse">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selInUse" (ngModelChange)="pageChanged(1)">
                      <ng-option value="true">True</ng-option>
                      <ng-option value="false">False</ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.inUse }}</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <input class="form-control input" [(ngModel)]="element.inUse" type="checkbox">
              </td>
            </ng-container>

            <ng-container matColumnDef="star" stickyEnd>
              <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
              <td mat-cell *matCellDef="let element">
                <div ngbDropdown container="body">
                  <button ngbDropdownToggle type="button" (click)="$event.stopPropagation()" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                    <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                  </button>
                  <div ngbDropdownMenu>
                    <a (click)="modalProfile(element)" ngbDropdownItem>
                      <span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span>
                      {{ translateSnackBar.edit }}
                    </a>
                    <a (click)="deleteProfile(element)" href="javascript:;" ngbDropdownItem>
                      <span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span>
                      {{ translateSnackBar.delete }}
                    </a>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="modalProfile(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </section>


        <pagination-controls id="paginationId" previousLabel="&lsaquo;" nextLabel="&rsaquo;"
          (pageChange)="pageChanged($event)">
        </pagination-controls>
      </div>
    </section>
  </div>
</div>
<div *ngIf="loading" class="loader-section">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
