.pager{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f3f2f7;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  height: 36px;
}
::ng-deep .datatable-body-cell-label {
white-space: nowrap!important;
overflow: hidden!important;
text-overflow: ellipsis!important;
}

.content {
width:100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  // border-bottom: 1px solid transparent;
  // border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-bottom: 1px solid #7367f0!important;
  border-top: 1px solid #7367f0!important;
  // border-color: red;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  min-width: 130px;
}
