<div *blockUI="'block'" class="content-wrapper dark-theme-color container-xxl p-0">
  <div class="content-body">
    <div class="card">

      <div class="col-sm-12 flex">
        <div class="col-sm-2 d-flex justify-content-between align-items-center"><label>{{ translateSnackBar.workPlace
            }}</label></div>
        <div class="full-width">
          <div class="col-sm-12 colored flex light-header-color">
            <!-- <span class="d-flex justify-content-between align-items-center pointer">
              <i data-feather="refresh-cw" class="mr-25 refresh-btn" title="Delete"></i>
            </span> -->
            <span [data-feather]="'refresh-cw'" [class]="'refresh-btn'"></span>
            <div class="col-sm-4 d-flex align-items-center">
              <label class="d-flex align-items-center">{{ translateSnackBar.resourceReporting }}</label>
              <ng-select [virtualScroll]="true" appendTo="body" appendTo="body" class="w-50-select"
                [(ngModel)]="resourceIn" [clearable]="false" (change)="getMovements(resourceIn)"
                [ngClass]="{ 'error': submitted && !resourceIn }">
                <ng-option *ngFor="let r of resource" [value]="r.resourceId">{{r.resourceName}}</ng-option>
              </ng-select>
            </div>
            <div class="col-sm-5 d-flex align-items-center">
              <label class="d-flex align-items-center">{{ translateSnackBar.directionReporting }}</label>
              <ng-select [virtualScroll]="true" appendTo="body" appendTo="body" class="w-50-select" [clearable]="false" [(ngModel)]="directionReporting">
                <ng-option [value]="1">{{ translateSnackBar.incomingReport }}</ng-option>
                <ng-option [value]="2">{{ translateSnackBar.outgoingReporting }}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 flex">
        <div class="col-sm-2 justify-content-between align-items-center block padd-img">
          <label>{{ translateSnackBar.scanning }}</label>
          <img *ngIf="image.name !== ''" class="center-img" src="{{'data:image/png;base64,' + image.name}}">
        </div>
        <div class="full-width">
          <div class="d-flex boxes">
            <div class="col-sm-2 align-items-center fixed-height">
              <label class="d-flex align-items-center">{{ translateSnackBar.barcodeMatrix }}</label>
              <input type="text" [(ngModel)]="barCode" maxlength="7" (input)="getBarCodesTable()" class="form-control dt-uname"
              [ngClass]="{ 'error-input': submitted && barCode.length === 0 }" />
              <button type="button" class="btn btn-primary btn-view" (click)="openBarCodeModal('empty')" rippleEffect>
                {{ translateSnackBar.view }}
              </button>
            </div>
            <div class="col-sm-2 align-items-center fixed-height">
              <label class="d-flex align-items-center">{{ translateSnackBar.currentResource }}</label>
              <ng-select [virtualScroll]="true" appendTo="body" appendTo="body" class="" [(ngModel)]="currentResource" [clearable]="false"
              [ngClass]="{ 'error': submitted && !currentResource }">
                <ng-option *ngFor="let r of resource" [value]="r.resourceId">{{r.resourceName}}</ng-option>
              </ng-select>
            </div>
            <div class="col-sm-2 align-items-center fixed-height">
              <label class="d-flex align-items-center">{{ translateSnackBar.productionKg }}</label>
              <input class="form-control input" type="number" [(ngModel)]="productionKg">
            </div>
            <div class="col-sm-2 align-items-center fixed-height">
              <label class="d-flex align-items-center">{{ translateSnackBar.notes }}</label>
              <input class="form-control input" type="text" [(ngModel)]="notes">
            </div>
            <div class="col-sm-2 align-items-center fixed-height">
              <label class="d-flex align-items-center">{{ translateSnackBar.employee }}</label>
              <ng-select [virtualScroll]="true" appendTo="body" appendTo="body" [(ngModel)]="emplId" class="" [clearable]="false"
              [ngClass]="{ 'error': submitted && !emplId }">
                <ng-option *ngFor="let e of employee" [value]="e.id">{{e.name}}</ng-option>
              </ng-select>
            </div>
            <div role="button" class="col-sm-2 align-items-center fixed-height" (click)="sendConfirmation()">
              <label class="d-flex align-items-center">{{ translateSnackBar.confirmation }}</label>
              <span [data-feather]="'check-circle'" [class]="'check-btn'"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 flex">
        <div class="col-sm-2 justify-content-between align-items-center block padd-img">
          <label>{{ translateSnackBar.last20Movements }}</label>
          <img *ngIf="imageLastMovement.name !== ''" class="center-img" src="{{'data:image/png;base64,' + imageLastMovement.name}}">
        </div>
        <div class="col-sm-10 fixed-height">
          <table mat-table [dataSource]="rowsMovements" class="example-table">
            <!-- Position Column -->
            <ng-container matColumnDef="dieId">
              <th mat-header-cell *matHeaderCellDef >
                <div class="filter-th" container="body"></div>
                <!-- <span class="th-header">{{ translateSnackBar.dieId }}</span> -->
              </th>
              <td mat-cell *matCellDef="let element">{{element.dieId}}</td>
            </ng-container>

            <ng-container matColumnDef="resourceIn">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body"></div>
                <!-- <span class="th-header">{{ translateSnackBar.resourceIn }}</span> -->
              </th>
              <td mat-cell *matCellDef="let element">{{element.resourceIn}}</td>
            </ng-container>

            <ng-container matColumnDef="resourceOut">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body"></div>
                <!-- <span class="th-header">{{ translateSnackBar.resourceOut }}</span> -->
              </th>
              <td mat-cell *matCellDef="let element">{{element.resourceOut}}</td>
            </ng-container>

            <ng-container matColumnDef="movementDateTime">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body"></div>
                <!-- <span class="th-header">{{ translateSnackBar.movementDateTime }}</span> -->
              </th>
              <td mat-cell *matCellDef="let element">{{element.movementDateTime | date:'dd/MM/yyyy H:mm:ss'}}</td>
            </ng-container>

            <ng-container matColumnDef="notes">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body"></div>
                <!-- <span class="th-header">{{ translateSnackBar.notes }}</span> -->
              </th>
              <td mat-cell *matCellDef="let element">{{element.notes}}</td>
            </ng-container>

            <ng-container matColumnDef="computerName">
              <th mat-header-cell *matHeaderCellDef>
                <div class="filter-th" container="body"></div>
                <!-- <span class="th-header">{{ translateSnackBar.computerName }}</span> -->
              </th>
              <td mat-cell *matCellDef="let element">{{element.computerName}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="lastMovementRow(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>

      <div class="col-sm-12 flex">
        <div class="col-sm-2 d-flex justify-content-between align-items-center"><label>{{
            translateSnackBar.positionMatrix }}</label></div>
        <div class="col-sm-10 fixed-height">
          <table mat-table [dataSource]="rowsDie | paginate: { id: 'paginationId', itemsPerPage: limit, currentPage: cPage, totalItems: totalResult }" class="example-table">
            <!-- Position Column -->
            <ng-container matColumnDef="dieId">
              <th mat-header-cell *matHeaderCellDef placement="top-left" container="body" [ngbTooltip]="translateSnackBar.dieId">
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span class="badge rounded-circle badge-danger ms-1 m-0" *ngIf="die !== ''">{{die.length}}</span>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" appendTo="body" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="die" (change)="pageChanged(1)">
                      <ng-option *ngFor="let d of dieIdArr" [value]="d.dieId">{{ d.dieId }}
                    </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.dieId }}</span>
                <button type="button" class="btn order-btn" (click)="sortType(!orderType, 0)">
                  <i class="fa fa-sort"></i>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.dieID}}</td>
            </ng-container>

            <ng-container matColumnDef="resourceName">
              <th mat-header-cell *matHeaderCellDef placement="top-left" container="body" [ngbTooltip]="translateSnackBar.matrix">
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span class="badge rounded-circle badge-danger ms-1 m-0" *ngIf="resourceName !== ''">{{resourceName.length}}</span>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" appendTo="body" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="resourceName" (change)="pageChanged(1)">
                      <ng-option *ngFor="let t of resourceNameArr" [value]="t.name">{{ t.name }}
                    </ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.resource }}</span>
                <button type="button" class="btn order-btn" (click)="sortType(!orderType, 1)">
                  <i class="fa fa-sort"></i>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.resourceName}}</td>
            </ng-container>

            <ng-container matColumnDef="skladPlace">
              <th mat-header-cell *matHeaderCellDef placement="top-left" container="body" [ngbTooltip]="translateSnackBar.skladPlace">
                <div class="filter-th" container="body">
                  <button [matMenuTriggerFor]="menuFilter" type="button" class="btn icon-btn btn-sm hide-arrow"
                    rippleEffect>
                    <span class="badge rounded-circle badge-danger ms-1 m-0" *ngIf="storagePlace !== ''">{{storagePlace.length}}</span>
                    <span [data-feather]="'filter'" [class]="'cursor-pointer'"></span>
                  </button>
                  <mat-menu #menuFilter="matMenu">
                    <ng-select [virtualScroll]="true" appendTo="body" (click)="$event.stopPropagation()" appendTo="body" class="select-table width-select"
                      [multiple]="true" [closeOnSelect]="false" [(ngModel)]="storagePlace" (change)="pageChanged(1)">
                      <ng-option *ngFor="let s of storagePlaceArr" [value]="s.name">{{ s.name }}</ng-option>
                    </ng-select>
                  </mat-menu>
                </div>
                <span class="th-header">{{ translateSnackBar.skladPlace }}</span>
                <button type="button" class="btn order-btn" (click)="sortType(!orderType, 2)">
                  <i class="fa fa-sort"></i>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.storagePlace}}</td>
            </ng-container>

            <ng-container matColumnDef="lastTransaction">
              <th mat-header-cell *matHeaderCellDef placement="top-left" container="body" [ngbTooltip]="translateSnackBar.lastTransaction">
                <div class="filter-th" container="body"></div>
                <span class="th-header">{{ translateSnackBar.lastTransaction }}</span>
                <button type="button" class="btn order-btn" (click)="sortType(!orderType, 3)">
                  <i class="fa fa-sort"></i>
                </button>
              </th>
              <td mat-cell *matCellDef="let element">{{element.lastMovement | date:'dd/MM/yyyy H:mm:ss'}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsDie; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDie;"></tr>
          </table>

          <pagination-controls id="paginationId" previousLabel="&lsaquo;" nextLabel="&rsaquo;" (pageChange)="pageChanged($event)">
          </pagination-controls>
        </div>
      </div>

    </div>
  </div>
</div>
