.colored {
  background-color: #CBC3E3;
  padding: 1%;
}

.refresh-btn {
  width: 20px;
  height: 20px;
}

.w-50-select {
  width: 50%;
}

.example-table,
.full-width {
  width: -webkit-fill-available !important;
}

.fixed-height {
  border: 2px solid #CBC3E3;
  margin: 1px 0px 1px 0px;
  padding: 10px;
  height: 230px;
  overflow: auto;
  display: block;
}

.col-sm-12 {
  border-bottom: 2px solid #7367f0;
}

.boxes .fixed-height {
  // margin-right: 5px;
}

label{
  margin-right: 10px;
}

.btn-view{
  width: -webkit-fill-available;
  margin-top: 10px;
}

img{
  width: -webkit-fill-available;
  margin: 0 auto;
  display: block;
}

.padd-img{
  // padding: 7% 1% 0% 1%;
  position: relative;
  /* top: 100%; */
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

.example-table{
  max-height: -webkit-fill-available;
}

::ng-deep .check-btn{
  color: #7367f0;
  margin: 0 auto;
  display: block;
  font-size: 25px;
  width: 70px;
  height: 90px;
  position: relative;
  transform: translateY(20%);
}
