::ng-deep.ngx-datatable .datatable-body .datatable-row-detail {
  height: auto !important;
}

.modal-dialog {
  margin: auto;
}

.cell-line-height {
  line-height: 1.25;
}

@media (min-width: 1241px) {
  ngx-datatable {
    overflow: hidden !important;
  }

  .modal-dialog {
    // max-width: 1200px!important;
    max-width: calc(100% - 16px) !important;
    overflow-x: hidden !important;
  }

  .datatable-body {
    overflow-x: visible !important;
  }
}

@media (max-width: 1240px) {
  .modal-dialog {
    overflow: auto !important;
    overflow-x: hidden !important;
  }

  ngx-datatable {
    overflow: auto !important;
  }
}

.modal-btn {
  margin: 0 auto;
  display: block;
  width: max-content;
}


.move-top {
  margin-top: 20px;
}

.form-general {
  .row {
    width: 50%;
    display: block;
  }
}

.row-first-column {
  display: flex;
  // margin: 8px 6px 0px 0px;
  // border: 1px solid #7367f0;
}

.row-second-column {
  display: block;
  margin: 0px 0px 0px 30px;
}

.ng-select {
  width: -webkit-fill-available !important;
  margin-bottom: 10px;
}

.border-field {
  border: 1px solid #7367f0;
}

.flex {
  display: flex;
}

.row-first-column {
  padding-left: 0px;
  padding-right: 0px;

  .border-field {
    margin: 15px;
    padding: 5px;
  }
}

.row-second-column {
  padding-left: 0px;
  padding-right: 0px;

  .border-field {
    margin: 15px;
    padding: 5px 5px 1px 5px
  }
}

.row-third-column {
  padding-left: 0px;

  // padding-right: 0px;
  .border-field {
    padding: 5px;
  }
}

.label-section {
  font-size: 14px;
  font-weight: 600;
}

::ng-deep .modal-dialog {
  width: -webkit-fill-available !important;
}

.slideout-content {
  left: 1%;
  right: 1%;
  position: fixed;
  overflow: auto;
  height: -webkit-fill-available;
  top: 5%;
  bottom: 5%;
  max-width: -webkit-fill-available;
}

// .visible, .datatable-header {
//   width: 100%!important;
// }


.ngx-datatable.bootstrap {
  margin: 0px !important;
}

@media (max-width: 1199px) {
  .form-general {
    display: block;
  }

  .form-general {
    .row {
      width: 100%;
      display: block;
    }
  }
}

@media (max-width: 770px) {
  .flex {
    display: block;
  }

  .section-right {
    padding: 20px 0px 0px 0px;
  }

  .row-second-column {
    display: block;
    margin: 0px 0px 0px 0px;
  }

  .row-second-column .border-field {
    margin: 15px 30px 15px 0px;
    padding: 5px 5px 1px 5px;
  }
}

label, h2{
  padding-right: 15px;
  width: -webkit-fill-available;
  line-height: 35px;
}
.tab-content{
  padding: 5px;
  border: 2px solid #7367f0;
  margin-top: -1rem!important;
}

.nav-pills .nav-link {
  border-radius: 0rem;
}

.width-fixed {
  width: 17%!important;
}

.w-70{
  width: 70%;
}

.hidden{
  visibility: hidden;
}

.line-fixed{
  line-height: 23px;
}

.grid{
  display: grid;
}

.border-purple{
  border: 2px solid #7367f0;
  margin-left: 1%;
}

.margin-10{
  margin-top: 10px;
}

.center-img, .save-center{
  margin: 15px auto;
  display: block;
  width: 450px;
}

.save-center{
  margin: 20px auto;
  display: block;
}

.header-section-profile{
  display: flex;
  margin-right: 1rem;
}

.header-section-profile h2{
  width: 75%;
}

.w-17-label{
  width: 70%;
}

.label-checkbox{
  width: 43%;
}

table{
  margin-bottom: 10px;
}

.width-10{
  width: 10%;
}

.mat-table{
  width: -webkit-fill-available;
}

.m-top-2{
  margin-top: 2%;
}
.fixed-width th{
  // min-width: 200px;
}

.color-text{
  color: #7367f0;
  font-weight: bold;
}

.edit-btn{
  width: -webkit-fill-available;
  left: 4%;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: -webkit-fill-available!important;
      margin: 0rem auto!important;
  }
}

b, strong {
  font-weight: 500;
}

.clasic-table tbody tr {
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
}

.mat-table.prod-table {
  width: -webkit-fill-available;
  height: 350px;
  overflow: auto;
  display: block;
}

.mat-row .mat-cell {
  white-space: nowrap;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  width: -webkit-fill-available;
  height: 300px;
  overflow: auto;
  margin-bottom: 12px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

tr.mat-row, tr.mat-footer-row {
  height: auto!important;
}

th {
  text-align: center;
}

.embeded-row {
  box-shadow: none;
}

th {
  position: sticky;
  top: 0;
}
.no-image{
  text-align: center;
  margin-top: 200px;
}
