.pager {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f3f2f7;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  height: 36px;
}

.content {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background: #e6e6fa;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  min-width: 70px;
}

.order-btn{
  float: initial;
  background: transparent;
  border: none;
  color: darkgrey;
  top: 2px;
  position: relative;
}

.min-w-175{
  min-width: 175px!important;
}

.calendar-input{
  border: none;
  outline: none;
}

mat-form-field{
  border-bottom: 1px solid;
  color: #949494;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
  padding-left: 15px;
}

.border {
  border: 1px solid #ebe9f1 !important;
  background: #FBFBFA;
  height: 270px;
  margin: 5px;
}

.header-filter {
  color: #7367f0 !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.box-filter{
  height: 200px;
  // overflow: auto;
}

.inf-scroll{
  overflow: auto;
  height: 200px;
}

.mat-expansion-panel-header {
  padding: 0 25px 0 0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .col-xl-1 {
    flex: 0 0 14.3333333333%!important;
    max-width: 14.3333333333%!important;
  }
}

@media (min-width: 992px) {
  .text-end{
    text-align: end;
  }
}

.mat-expansion-panel-header.mat-expanded {
  height: -webkit-fill-available;
  padding: 5px 24px 5px 0;
}

.text-center {
  line-height: 1.625 !important;
}

.search-filter{
  margin: 10px 5px 1px 5px;
  width: 120px;
  display: block;
  margin: 0 auto;
}

.min-w-100 {
  min-width: 100px!important;
}

.mat-table {
  width: -webkit-fill-available;
}
