<div class="content-wrapper container-xxl p-0">
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="d-flex align-items-center pr-1 pb-1 pb-md-0">
                <label class="d-flex align-items-center ml-1 ml-md-0">
                    <span class="width-label">Търси машина:</span>
                    <input [(ngModel)]="searchValue" name="searchValue" type="search"
                        class="form-control ml-25" (keyup)="filterUpdate($event)" />
                </label>
            </div>
        </div>
    </div>
    <div class="content-body">
        <section class="users-list-wrapper col-xs-12 col-sm-12 col-md-4 col-lg-2 col-xl-2" *ngFor="let row of rows">
            <div class="card-machine">
                <button class="btn btn-block btn-outline-primary waves-effect glossy-button" (click)="openOperation(row)">{{row.name}}</button>
            </div>
        </section>
    </div>
</div>
