::ng-deep.ngx-datatable .datatable-body .datatable-row-detail {
  height: auto !important;
}

.modal-dialog {
  margin: auto;
}

input {
  border: none;
  background: transparent;
}

.cell-line-height {
  line-height: 1.25;
}

@media (min-width: 1241px) {
  ngx-datatable {
    overflow: hidden !important;
  }

  .modal-dialog {
    // max-width: 1200px!important;
    max-width: calc(100% - 16px) !important;
    overflow-x: hidden !important;
  }

  .datatable-body {
    overflow-x: visible !important;
  }
}

@media (max-width: 1240px) {
  .modal-dialog {
    overflow: scroll !important;
    overflow-x: hidden !important;
  }

  ngx-datatable {
    overflow: auto !important;
  }
}

@media (max-width: 1240px) and (min-width: 1000px) {
  .modal-dialog {
    max-width: 1000px !important;
  }
}

:host ::ng-deep.wrap-table-modal .ngx-datatable datatable-body {
  overflow: visible !important;
}

:host ::ng-deep.visible,
:host ::ng-deep.datatable-header {
  width: fit-content !important;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.714rem;
  padding: 0.438rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  color: #6e6b7b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6de;
  border-radius: 0.357rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-btn{
  margin: 0 auto;
  display: block;
  width: max-content;
}

::ng-deep .modal-dialog {
  width: 500px!important;
}

.modal-full-screen, .modal-dialog-screen.modal-full-screen{
  max-height: fit-content!important;
  height: -webkit-fill-available!important;
  width: 100%!important;
  overflow: auto;
}

.modal-normal-screen, .modal-dialog-screen.modal-normal-screen{
  max-height: 850px;
  height: fit-content!important;
  width: 33rem!important;
  overflow: auto;
}