<div *blockUI="'block-modal'" class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="users-list-wrapper">
            <div class="card" [ngClass]="{'redAcviteBox': activeBox === 0 , 'greenAcviteBox': activeBox === 1}">
                <div class="row col-12">
                    <h3 *ngIf="dataServiceObj.workCenterId === 55" class="width-search">Нова опаковка за {{dataServiceObj.salesOrderDescription}} инструкция {{dataServiceObj.bomCode}} (макс {{pcsInSinglePackage}}бр.) {{pcsInSinglePackageNo}}</h3>
                    <h3 *ngIf="dataServiceObj.workCenterId !== 55" class="width-search">Данни за потвърждение</h3>
                </div>
                <div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flex">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 bottom-10"></div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 bottom-10">
                          <label>К-во брак</label>
                          <input class="form-control input" type="text" [(ngModel)]="countBrak"
                            (input)="checkScrap($event.target.value)" placeholder="0.00">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 bottom-10">
                          <label>Произведено к-во</label>
                          <input class="form-control input" type="text" [(ngModel)]="countProduced"
                            (input)="checkProducedBrak($event.target.value)" placeholder="0.00" [readonly]="dataServiceObj.workType === 2 || dataServiceObj.workType === 3">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 bottom-10">
                          <label>Брак РЦ</label>
                          <ng-select [virtualScroll]="true" appendTo="body" [(ngModel)]="workCenter" [disabled]="reasonInputs">
                            <ng-option *ngFor="let item of brakArr" [value]="item.id">{{item.name}}</ng-option>
                          </ng-select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 bottom-10">
                            <span *ngIf="dataServiceObj.workCenterId === 55">
                              <label class="form-label">Приключване опаковка
                                <input class="form-control input" [(ngModel)]="finishPackage" type="checkbox" style="width: 10%;"></label>
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 bottom-10">
                          <label>Причина</label>
                          <ng-select [virtualScroll]="true" appendTo="body" [(ngModel)]="reason" [disabled]="reasonInputs">
                            <ng-option *ngFor="let item of reasonsArr" [value]="item.id">{{item.name}}</ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                      <label class="block">Бележки и коментари</label>
                      <textarea class="full-width" [(ngModel)]="notes" name="notes"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 purple-background resp-new-order">
                      <label class="white-color">Нова поръчка</label>
                      <input class="form-control input" type="text" [(ngModel)]="generateOrder" placeholder="0.00"><br>
                      <button class="btn btn-primary btn-block" (click)="generateNewOrder()" rippleEffect>
                        Генериране нова поръчка
                      </button>
                    </div>
                  </div>

                </div>
                <div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flex">
                    <div *ngIf="dataServiceObj.workType === 2" class="scale col-xs-12 col-sm-12 col-md-12">
                      <p>Тегло: <span class="bold">{{scaleData.weight}}</span> гр.</p>
                      <p>Тегло брой: <span class="bold" [ngClass]="{'redTolerance': tolerance === 0, 'greenTolerance': tolerance === 1}">{{scaleData.unitWeight}}</span> гр./бр. (теоретично: {{grossWeight}})</p>
                      <p>Бройки: <span class="bold">{{scaleData.totalCount}}</span></p>
                    </div>

                    <div *ngIf="dataServiceObj.workType === 3 && dataServiceObj.workCenterId === 55" class="scale col-xs-12 col-sm-12 col-md-12">
                      <p>ДМС Код Лист:</p>
                      <div class="row border" *ngFor="let dmc of dmCArray">
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
                          <p class="dms" style="padding-top: 7px">{{dmc}}</p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                          <a (click)="deleteDms(dmc)" href="javascript:;" ngbDropdownItem class="red dms">
                            <span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- За операция 55 -->
                <div class="grey-bg bottom-20"  *ngIf="dataServiceObj.workType === 1 && dataServiceObj.workCenterId === 55">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flex" *ngFor="let row of orderOperation">
                        <label class="form-label input-rows-label">{{row.name}} <span *ngIf="row.mandatory" class="redTolerance">*</span></label>
                        <input class="form-control input" [(ngModel)]="row.value" (input)="checkInputRows($event.target.value, row)" type="text" [disabled]="row.inputType === false"><br>
                    </div>
                </div>
                <!-- за всички останали операции -->
                <div *ngIf="dataServiceObj.workCenterId !== 55" class="top-20 bottom-20">
                  <div class="grey-bg-handle" *ngFor="let row of orderOperation">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flex" *ngIf="row.inputType === true">
                      <label class="form-label input-rows-label">{{row.name}} <span *ngIf="row.mandatory" class="redTolerance">*</span></label>
                      <input *ngIf="row.inputCodeType === false" class="form-control input" [(ngModel)]="row.value" (input)="checkInputRows($event.target.value, row)" type="text" [disabled]="row.inputType === false"><br>
                      <ng-select [virtualScroll]="true" appendTo="body" *ngIf="row.inputCodeType === true" class="width-select" [(ngModel)]="row.value">
                        <ng-option *ngFor="let item of row.selectList" [value]="item.name">{{item.name}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div *ngIf="!hideRedSection" class="red-bg col-12 bottom-20" (click)="clickBoxs(0)">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flex">
                            <h3 class="width-100">Използвани детайли от предишна операция</h3>
                            <!-- <input class="form-control input input-search warning-bc" type="text"> -->
                            <div>
                                <label class="container">Авт.избор
                                    <input type="checkbox" checked="checked" [(ngModel)]="autoChoose" [checked]="autoChoose">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div #myDivRed class="fixed-height">
                            <div class="flex white-border" *ngFor="let item of prevOperationCassetList; let i = index">
                                <input type="checkbox" class="form-control input input-check" [checked]="item.checked" [(ngModel)]="item.checked"  (change)="checkOperationRow(item, $event)" [disabled]="autoChoose">
                                <div class="grid">
                                    <span>{{item.warehouseName}}</span>
                                    <span>Oперация: {{item.nextOperation}}</span>
                                    <span> {{item.quantityAltUoM1}}кг.</span>
                                    <span> {{item.quantity}}бр.</span>
                                    <span>Партида {{item.sn}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flex">
                            <h4 class="width-100 text-end">Общо количество: {{sumQuantity}}</h4>
                        </div>
                    </div>
                </div>
                <div *ngIf="!hideGreenSection" class="green-bg col-12 bottom-20"  (click)="clickBoxs(1)">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padd-10">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flex">
                            <!-- <div> -->
                            <h3 class="width-50">Избор на палет за произведените детайли</h3>
                            <!-- </div> -->
                            <div class="flex width-50">
                                <label class="width-label">Ръчно избиране на палет</label>
                                <ng-select [virtualScroll]="true" appendTo="body" class="width-select" [(ngModel)]="cassetPut" (ngModelChange)="getStock(cassetPut)">
                                    <ng-option *ngFor="let item of palletsArr" [value]="item.name">{{item.name}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flex">
                            <h3><b>{{paletName}}</b></h3>
                        </div>
                        <div #myDivGreen class="fixed-height">
                            <label class="block">Съдържание на палета преди поставяне на произведеното</label>
                            <div class="flex white-border bottom-10" *ngFor="let item of putCassetList">
                                <input class="form-control input input-check" [checked]="item.checked" [(ngModel)]="item.checked" type="checkbox">
                                <div class="grid">
                                    <span>{{item.warehouseName}}</span>
                                    <span>Oперация: {{item.nextOperation}}</span>
                                    <span> {{item.quantityAltUoM1}}кг.</span>
                                    <span> {{item.quantity}}бр.</span>
                                    <span>Партида {{item.sn}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="">

                            <div class="flex">
                                <button class="btn btn-pallet btn-block" rippleEffect>
                                    Избраните НЕ са в палета
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-light row-btns" (click)="loadComponent()" rippleEffect>Напред</button>
                    <button class="btn btn-light row-btns" (click)="backClicked()" rippleEffect>Назад</button>
                </div>
            </div>
        </section>
    </div>
</div>
