<div *blockUI="'blockModal'" class="slideout-content">
  <!-- Modal to add new user starts-->
  <div id="modals-slide-in">
    <div class="modal-dialog-screen material-dialog-center modal-content pt-0" [ngClass]="{ 'modal-full-screen': fullScr === true, 'modal-normal-screen': fullScr === false }">
      <div class="modal-body flex-grow-1">
        <div class="form-group">
          <div class="row alert alert-primary p-0 d-block d-flex" role="alert">
            <div class="col-md-8 col-lg-10 alert-body d-flex align-items-center">
              <span>{{ translateSnackBar.modalProfile }}  </span>
            </div>
            <div class="col-md-4 col-lg-2 alert-body text-end">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                ×
              </button>
              <button (click)="fullScreen()" class="close"type="button">
                <div [ngStyle]="{'display': fullScr === true ? 'block' : 'none' }"><span [data-feather]="'minimize-2'" [class]="'ficon text-primary'"></span></div>
                <div [ngStyle]="{'display': fullScr === true ? 'none' : 'block' }"><span [data-feather]="'maximize-2'" [class]="'ficon text-primary'"></span></div>
              </button>
              <button (click)="submitForm()" class="close" type="button">
                <span [class]="'cursor-pointer save-icon-modal text-primary'" [data-feather]="'save'"></span>
              </button>
            </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-12 col-12">
            <div class="alert alert-primary d-block d-md-flex" role="alert">
              <div class="alert-body">
                {{ translateSnackBar.modalProfile }}
              </div>
              <button type="button" class="modal-icon-header" data-dismiss="modal" aria-label="Close" (click)="fullScreen()">
                <div [ngStyle]="{'display': fullScr === true ? 'flex' : 'none' }"><span [data-feather]="'minimize-2'" [class]="'ficon'"></span></div>
                <div [ngStyle]="{'display': fullScr === true ? 'none' : 'flex' }"><span [data-feather]="'maximize-2'" [class]="'ficon'"></span></div>
              </button>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                ×
              </button>
            </div>
          </div>
        </div> -->
        <!-- <form class="form form-general" [formGroup]="createProfileForm"> -->
        <div class="row">
          <div class="section-left col-12 col-xl-7">
            <nav ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-fill nav-pills">
                <ng-container [ngbNavItem]="1">
                  <a ngbNavLink>{{ translateSnackBar.general }}</a>
                  <ng-template ngbNavContent>
                    <form [formGroup]="createProfileForm" #newUserForm="ngForm">
                      <div class="flex">
                        <div class="col-md-5">
                          <div class="col-md-12 flex header-section-profile">
                            <h2>{{ translateSnackBar.profile }}</h2>
                            <input type="text" formControlName="profileName" [textMask]="{mask: mask}" class="form-control dt-uname" [ngClass]="{ 'error': submitted && !createProfileForm.get('profileName').value}" required [readonly]="profileId" />
                          </div>
                          <div class="col-md-12 flex header-section-profile">
                            <label class="w-17-label">{{ translateSnackBar.refNo }}</label>
                            <input type="text" formControlName="refNumber" class="form-control dt-uname" style="width: 94%"/>
                          </div>
                          <div class="col-md-12 flex header-section-profile">
                            <label class="w-17-label">{{ translateSnackBar.crNumber }}</label>
                            <input type="text" formControlName="crNumber" class="form-control dt-uname" style="width: 94%"/>
                          </div>
                          <div class="col-md-12 flex">
                            <label class="w-17-label">{{ translateSnackBar.group }}</label>
                            <ng-select [virtualScroll]="true" appendTo="body" appendTo="body" [clearable]="false" formControlName="groupCode">
                              <ng-option *ngFor="let g of groupCode" [value]="g.name">{{ g.name }}</ng-option>
                            </ng-select>
                          </div>
                          <div class="col-md-12 flex header-section-profile">
                            <label class="w-17-label">{{ translateSnackBar.revProfile }}</label>
                            <input type="text" formControlName="revisionProfile" class="form-control dt-uname" style="width: 94%"/>
                          </div>
                          <div class="col-md-12 flex">
                            <label class="label-checkbox">{{ translateSnackBar.inUse }}</label>
                            <input class="form-control input" formControlName="inUse" type="checkbox"
                              style="width: 5%;margin-top: -1%;">
                          </div>

                          <div class="col-md-12 flex">
                            <label class="label-checkbox">{{ translateSnackBar.visibleSide }}</label>
                            <input class="form-control input" formControlName="visSides" type="checkbox" style="width: 5%;margin-top: -1%;">
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="col-md-12 flex" style="visibility: hidden;">
                            <div class="col-md-6">{{ translateSnackBar.min }}</div>
                            <div class="col-md-6">{{ translateSnackBar.max }}</div>
                          </div>
                          <div class="col-md-12 flex">
                            <label>{{ translateSnackBar.size }} 1</label>
                            <input type="number" formControlName="size1" class="form-control dt-uname" />
                          </div>
                          <div class="col-md-12 flex">
                            <label>{{ translateSnackBar.size }} 2</label>
                            <input type="number" formControlName="size2" class="form-control dt-uname" />
                          </div>
                          <div class="col-md-12 flex">
                            <label>{{ translateSnackBar.size }} 3</label>
                            <input type="number" formControlName="size3" class="form-control dt-uname" />
                          </div>
                          <div class="col-md-12 flex">
                            <label>{{ translateSnackBar.size }} 4</label>
                            <input type="number" formControlName="size4" class="form-control dt-uname" />
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="col-md-12 flex">
                            <div class="col-md-6">{{ translateSnackBar.min }}</div>
                            <div class="col-md-6">{{ translateSnackBar.max }}</div>
                          </div>
                          <div class="col-md-12 flex">
                            <div class="col-md-6">
                              <input type="number" formControlName="size1TolDown" class="form-control dt-uname" />
                            </div>
                            <div class="col-md-6">
                              <input type="number" formControlName="size1TolUp" class="form-control dt-uname" />
                              </div>
                          </div>
                          <div class="col-md-12 flex">
                            <div class="col-md-6">
                              <input type="number" formControlName="size2TolDown" class="form-control dt-uname" />
                              </div>
                            <div class="col-md-6">
                              <input type="number" formControlName="size2TolUp" class="form-control dt-uname" />
                              </div>
                          </div>
                          <div class="col-md-12 flex">
                            <div class="col-md-6">
                              <input type="number" formControlName="size3TolDown" class="form-control dt-uname" />
                              </div>
                            <div class="col-md-6">
                              <input type="number" formControlName="size3TolUp" class="form-control dt-uname" />
                              </div>
                          </div>
                          <div class="col-md-12 flex">
                            <div class="col-md-6">
                              <input type="number" formControlName="size4TolDown" class="form-control dt-uname" />
                              </div>
                            <div class="col-md-6">
                              <input type="number" formControlName="size4TolUp" class="form-control dt-uname" />
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 block">
                        <div class="col-md-4 flex">
                          <label>{{ translateSnackBar.weight }}</label>
                          <input type="number" formControlName="grM" class="form-control dt-uname" (input)="sumCut()" [ngClass]="{ 'error': submitted && !createProfileForm.get('grM').value}" required />
                        </div>
                        <div class="col-md-4 flex">
                          <label>{{ translateSnackBar.cut }}</label>
                          <input type="number" formControlName="section" class="form-control dt-uname" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                           [ngClass]="{ 'error': submitted && !createProfileForm.get('section').value}" required />
                        </div>
                        <div class="col-md-4 flex">
                          <label>{{ translateSnackBar.perimeter }}</label>
                          <input type="number" formControlName="perimeter" class="form-control dt-uname" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                          [ngClass]="{ 'error': !profileId && submitted && !createProfileForm.get('perimeter').value}" required />
                        </div>
                      </div>
                    </form>
                  </ng-template>
                </ng-container>
                <ng-container [ngbNavItem]="2">
                  <a ngbNavLink>{{ translateSnackBar.extrusion }}</a>
                  <ng-template ngbNavContent>
                    <form [formGroup]="createProfileForm" #newUserForm="ngForm">
                      <div class="flex">
                        <div class="col-md-4">
                          <div class="col-md-12 flex">
                            <label>{{ translateSnackBar.cooling }}</label>
                            <input class="form-control input" formControlName="cooling" type="text">
                          </div>

                          <div class="col-md-12 flex">
                            <label class="line-fixed">{{ translateSnackBar.additionalOp }}</label>
                            <input class="form-control input" formControlName="addOperations" type="text">
                          </div>

                          <div class="col-md-12 flex">
                            <label>{{ translateSnackBar.tMin }}</label>
                            <input class="form-control input" formControlName="tbillet" type="text">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="col-md-12 flex hidden">
                            <label></label>
                            <input class="form-control input w-70" type="text">
                          </div>
                          <div class="col-md-12 flex hidden">
                            <label></label>
                            <input class="form-control input w-70" type="text">
                          </div>
                          <div class="col-md-12 flex bottom-fixed">
                            <label>{{ translateSnackBar.tMax }}</label>
                            <input class="form-control input w-70" formControlName="texit" type="text">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="col-md-12 flex">
                            <label>{{ translateSnackBar.stackBasket }}</label>
                            <input class="form-control input" formControlName="basketOrdering" type="text">
                          </div>

                          <div class="col-md-12 flex">
                            <label>{{ translateSnackBar.use }}</label>
                            <input class="form-control input" formControlName="usage" type="text">
                          </div>

                          <div class="col-md-12 flex">
                            <label>{{ translateSnackBar.puller }}</label>
                            <input class="form-control input" formControlName="puller" type="text">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 block">
                        <div class="col-md-12 flex">
                          <label class="width-fixed">{{ translateSnackBar.memo }}</label>
                          <input type="text" formControlName="notesExtrusion" class="form-control dt-uname" />
                        </div>
                        <div class="col-md-12 flex">
                          <label class="width-fixed">{{ translateSnackBar.important }}</label>
                          <textarea class="form-control" formControlName="important" name="important"></textarea>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                </ng-container>
              <ng-container [ngbNavItem]="3">
                <a ngbNavLink>{{ translateSnackBar.speeds }}</a>
                <ng-template ngbNavContent>
                  <p *ngIf="disableTab"><span [data-feather]="'lock'" [class]="'lock-icon'"></span><b>{{ translateSnackBar.messageTabProfile }}</b></p>
                  <div *ngIf="!disableTab" class="col-md-12">
                    <!-- -->
                    <div class="col-md-12">
                      <table class="clasic-table">
                        <thead>
                          <th>
                            <button class="add-button" (click)="addPress()">
                              <i class="fa fa-plus-circle"></i>
                            </button>
                          </th>
                          <th>{{ translateSnackBar.press }}</th>
                          <th>{{ translateSnackBar.channels }}</th>
                          <th>{{ translateSnackBar.priority }}</th>
                          <th>{{ translateSnackBar.alloy }}</th>
                          <th>{{ translateSnackBar.speed }}</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let r of tabSpeed; let i = index">
                            <td>
                              <div class="flex">
                                <span *ngIf="!this.editPress[i] && r.id"
                                  (click)="this.editPress[i]=!this.editPress[i];$event.preventDefault(); $event.stopPropagation();">
                                  <i data-feather="edit" class="mr-25" title="Modify"></i>
                                </span>
                                <span *ngIf="this.editPress[i] || !r.id"
                                  (click)="saveRowsPress(tabSpeed, r, i);$event.preventDefault(); $event.stopPropagation();">
                                  <i data-feather="save" class="mr-25" title="Save"></i>
                                </span>
                                <span *ngIf="this.editPress[i] && r.id"
                                  (click)="deleteRowsPress(tabSpeed, r, i);$event.preventDefault(); $event.stopPropagation();">
                                  <i data-feather="delete" class="mr-25" title="Delete"></i>
                                </span>
                              </div>
                            </td>
                            <td>
                              <ng-select [virtualScroll]="true" appendTo="body" [clearable]="false" class="select-table width-select" [(ngModel)]="r.pressId"
                                 appendTo="body">
                                <ng-option *ngFor="let s of pressArr" [value]="s.id">{{ s.name }}</ng-option>
                              </ng-select>
                            </td>
                            <td><input class="form-control input" [(ngModel)]="r.channels"  type="text"></td>
                            <td><input class="form-control input" [(ngModel)]="r.priority"  type="text"></td>
                            <td class="w-15">
                              <ng-select [virtualScroll]="true" appendTo="body" [clearable]="false" [(ngModel)]="r.alloyFamily"
                                (ngModelChange)="fillPressChannels(r)" appendTo="body" >
                                <ng-option *ngFor="let s of alloyArr" [value]="s.name">{{ s.name }}</ng-option>
                              </ng-select>
                            </td>
                            <td><input class="form-control input" [(ngModel)]="r.speed" type="text"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-12"></div>
                  </div>
                </ng-template>
              </ng-container>
              <ng-container [ngbNavItem]="4">
                <a ngbNavLink>{{ translateSnackBar.lengthFrontBack }}</a>
                <ng-template ngbNavContent>
                  <p *ngIf="disableTab"><span [data-feather]="'lock'" [class]="'lock-icon'"></span><b>{{ translateSnackBar.messageTabProfile }}</b></p>
                  <div *ngIf="!disableTab" class="col-md-12 grid">
                    <!-- -->
                    <table class="clasic-table">
                      <thead>
                        <th>
                          <button class="add-button" (click)="addRowSpeedLength(rowsLength)">
                            <i class="fa fa-plus-circle"></i>
                          </button>
                        </th>
                        <th>{{ translateSnackBar.press }}</th>
                        <th>{{ translateSnackBar.alloy }}</th>
                        <th>{{ translateSnackBar.channels }}</th>
                        <th>{{ translateSnackBar.lengthEnd }}</th>
                        <th>{{ translateSnackBar.lengthStart }}</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let rowLength of rowsLength; let i = index">
                          <td class="width-10">
                            <div class="flex">
                              <span *ngIf="!this.isEditableRowsLength[i] && rowLength.profileId"
                                (click)="this.isEditableRowsLength[i]=!this.isEditableRowsLength[i];$event.preventDefault(); $event.stopPropagation();">
                                <span [data-feather]="'edit'" [class]="'mr-25 size-feather'"></span>
                              </span>
                              <span *ngIf="this.isEditableRowsLength[i] || !rowLength.profileId"
                                (click)="saveRowsLength(rowsLength, rowLength, i);$event.preventDefault(); $event.stopPropagation();">
                                <span [data-feather]="'save'" [class]="'mr-25 size-feather'"></span>
                              </span>
                              <span *ngIf="this.isEditableRowsLength[i] && rowLength.profileId"
                                (click)="deleteRowsLength(rowsLength, rowLength, i);$event.preventDefault(); $event.stopPropagation();">
                                <span [data-feather]="'delete'" [class]="'mr-25 size-feather'"></span>
                              </span>
                            </div>
                          </td>
                          <td>
                            <ng-select [virtualScroll]="true" appendTo="body" [clearable]="false" class="select-table width-select" [(ngModel)]="rowLength.pressId"
                               appendTo="body">
                              <ng-option *ngFor="let s of pressArr" [value]="s.id">{{ s.name }}</ng-option>
                            </ng-select>
                          </td>
                          <td class="w-25">
                            <ng-select [virtualScroll]="true" appendTo="body" [clearable]="false" [(ngModel)]="rowLength.alloyFamily" appendTo="body">
                              <ng-option *ngFor="let s of alloyArr" [value]="s.name">{{ s.name }}</ng-option>
                            </ng-select>
                          </td>
                          <td><input class="form-control input" [(ngModel)]="rowLength.channels" type="text"></td>
                          <td><input class="form-control input" [(ngModel)]="rowLength.lengthEnd" (input)="fillEndChannels(rowLength)" type="text"></td>
                          <td><input class="form-control input" [(ngModel)]="rowLength.lengthStart" type="text"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-template>
              </ng-container>
              <ng-container [ngbNavItem]="5">
                <a ngbNavLink>{{ translateSnackBar.additionalInfo }}</a>
                <ng-template ngbNavContent>
                <p *ngIf="disableTab"><span [data-feather]="'lock'" [class]="'lock-icon'"></span><b>{{ translateSnackBar.messageTabProfile }}</b></p>
                  <div *ngIf="!disableTab">
                    <!-- -->
                    <div class="row">
                      <div class="col-4">
                        <label>{{ translateSnackBar.infoMatrix }}</label>
                      </div>
                      <div class="col-8">
                        <ng-select [virtualScroll]="true" appendTo="body" appendTo="body">
                          <!-- <ng-option *ngFor="let s of objectListSclad" [value]="s.id">{{ s.name }}</ng-option> -->
                        </ng-select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4">
                        <label>{{ translateSnackBar.followRecipee }}</label>
                      </div>
                      <div class="col-8">
                        <ng-select [virtualScroll]="true" appendTo="body" appendTo="body">
                          <!-- <ng-option *ngFor="let s of objectListSclad" [value]="s.id">{{ s.name }}</ng-option> -->
                        </ng-select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4">
                        <label>{{ translateSnackBar.secondHandScrap }}</label>
                      </div>
                      <div class="col-8">
                        <ng-select [virtualScroll]="true" appendTo="body" appendTo="body">
                          <!-- <ng-option *ngFor="let s of objectListSclad" [value]="s.id">{{ s.name }}</ng-option> -->
                        </ng-select>
                      </div>
                    </div>

                    <div class="flex">
                      <div class="col-md-4">
                        <div class="col-md-12">
                          <label>Breda {{ translateSnackBar.manufacturing }}</label>
                          <ng-select [virtualScroll]="true" appendTo="body" appendTo="body">
                            <!-- <ng-option *ngFor="let s of objectListSclad" [value]="s.id">{{ s.name }}</ng-option> -->
                          </ng-select>
                        </div>
                        <div class="col-md-12">
                          <label>Breda {{ translateSnackBar.scrap }}</label>
                          <ng-select [virtualScroll]="true" appendTo="body" appendTo="body">
                            <!-- <ng-option *ngFor="let s of objectListSclad" [value]="s.id">{{ s.name }}</ng-option> -->
                          </ng-select>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="col-md-12">
                          <label>SMS1 {{ translateSnackBar.manufacturing }}</label>
                          <ng-select [virtualScroll]="true" appendTo="body" appendTo="body">
                            <!-- <ng-option *ngFor="let s of objectListSclad" [value]="s.id">{{ s.name }}</ng-option> -->
                          </ng-select>
                        </div>
                        <div class="col-md-12">
                          <label>SMS1 {{ translateSnackBar.scrap }}</label>
                          <ng-select [virtualScroll]="true" appendTo="body" appendTo="body">
                            <!-- <ng-option *ngFor="let s of objectListSclad" [value]="s.id">{{ s.name }}</ng-option> -->
                          </ng-select>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="col-md-12">
                          <label>SMS2 {{ translateSnackBar.manufacturing }}</label>
                          <ng-select [virtualScroll]="true" appendTo="body" appendTo="body">
                            <!-- <ng-option *ngFor="let s of objectListSclad" [value]="s.id">{{ s.name }}</ng-option> -->
                          </ng-select>
                        </div>
                        <div class="col-md-12">
                          <label>SMS2 {{ translateSnackBar.scrap }}</label>
                          <ng-select [virtualScroll]="true" appendTo="body" appendTo="body">
                            <!-- <ng-option *ngFor="let s of objectListSclad" [value]="s.id">{{ s.name }}</ng-option> -->
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </nav>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
          <div class="section-right col-12 col-xl-5">
            <table class="clasic-table">
              <thead>
                <th>{{ translateSnackBar.dies }}</th>
                <th>{{ translateSnackBar.resource }}</th>
                <th>{{ translateSnackBar.altResource }}</th>
                <th>{{ translateSnackBar.dimensions }}</th>
                <th>{{ translateSnackBar.alloy }}</th>
                <th>{{ translateSnackBar.producer }}</th>
                <th>{{ translateSnackBar.date }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let row of rowsDies">
                  <td>{{row.dieId}}</td>
                  <td>{{row.currentResource}}</td>
                  <td>{{row.primaryResourceName}}</td>
                  <td>{{row.dimensions}}</td>
                  <td>{{row.alloy}}</td>
                  <td>{{row.producerName}}</td>
                  <td>{{row.dateOrder | date:'MMM d, y, h:mm:ss a'}}</td>
                </tr>
              </tbody>
            </table>

            <table *ngIf="active===3" class="clasic-table">
              <thead>
                <th class="width-10">
                  <button class="add-button" (click)="addRowSpeedTable(rowsSpeed)">
                    <i class="fa fa-plus-circle"></i>
                  </button>
                </th>
                <th>{{ translateSnackBar.cavities }}</th>
                <th>{{ translateSnackBar.alloy }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let rowSpeed of rowsSpeed; let i = index">
                  <td class="width-10">
                    <div class="flex">
                      <span *ngIf="!this.isEditableRowSpeed[i] && rowSpeed.id"
                        (click)="this.isEditableRowSpeed[i]=!this.isEditableRowSpeed[i];$event.preventDefault(); $event.stopPropagation();">
                        <i data-feather="edit" class="mr-25" title="Modify"></i>
                      </span>
                      <span *ngIf="this.isEditableRowSpeed[i] || !rowSpeed.id"
                        (click)="saveRowsSpeed(rowsSpeed, i);$event.preventDefault(); $event.stopPropagation();">
                        <i data-feather="save" class="mr-25" title="Save"></i>
                      </span>
                      <span *ngIf="this.isEditableRowSpeed[i] && rowSpeed.id"
                        (click)="deleteRowsSpeed(rowsSpeed,i);$event.preventDefault(); $event.stopPropagation();">
                        <i data-feather="delete" class="mr-25" title="Delete"></i>
                      </span>
                    </div>
                  </td>
                  <td><input class="form-control input" type="text"></td>
                  <td><input class="form-control input" type="text"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row custom-m-1">
          <div class="col-12 col-xl-9">
            <div class="border-purple row mr-xl-1 h-100">
              <img *ngIf="img" class="center-img" src="{{'data:image/png;base64,' + img}}">
            </div>
          </div>
          <div class="col-12 col-xl-3">
            <div class="row">
              <input
                type="file"
                class="custom-file-input"
                accept="image/*"
                ng2FileSelect
                [uploader]="uploader"
                (input)="handleUpload($event)"
                id="file-upload-multiple"
              />
              <label class="custom-file-label"></label>
            </div>

            <div class="row">
              <table class="clasic-table">
                <thead>
                  <th class="w-50">{{ translateSnackBar.file }}</th>
                  <th>{{ translateSnackBar.size }}</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of uploader.queue;let i=index" class="img-row" (click)="setImage(i, item)">
                    <div *ngIf="item.id || item?.file?.name.split('.').shift() === createProfileForm.controls.profileName.value" style="display: contents;">
                      <td class="w-50">
                        {{item.fileName ? item.fileName : item?.file?.name}}
                      </td>
                      <td *ngIf="uploader.options.isHTML5" nowrap>
                        {{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB
                      </td>
                      <td nowrap class="text-right">
                        <button *ngIf="(profile.id || profileId) && !item.id" type="button" class="btn btn-raised btn-sm mr-50" (click)="uploadImage(item)" rippleEffect>
                          <span [data-feather]="'upload'" [size]="16" [class]="'mr-50 upload-green'"></span>
                        </button>
                        <a href="{{'data:image/png;base64,' + (item.fileData ? item.fileData : item.url)}}" download>
                          <span [data-feather]="'download'" [size]="16" [class]="'mr-50 upload-green'"></span>
                        </a>
                        <button type="button" class="btn btn-raised btn-sm" (click)="item.id ? deleteImage(item) : item.remove()" rippleEffect>
                          <span [data-feather]="'trash'" [size]="16" [class]="'mr-50 red-bin'"></span>
                        </button>
                      </td>
                    </div>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- </form> -->
        <!-- <div class="row">
          <div class="col-12 p-2 text-center">
            <button rippleEffect class="btn w-25 btn-primary" (click)="submitForm()">{{ translateSnackBar.save }}</button>
          </div>
        </div> -->

      </div>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>
