<div *blockUI="'block'" class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="users-list-wrapper">
      <div class="card">
        <div class="row p-1">
          <div class="col-sm-10 col-12">
            <div class="d-flex align-items-center">
              <button rippleEffect (click)="size = size + 1" class="btn size-btn text-primary p-0" [disabled]="size >= 22">A<span [data-feather]="'zoom-in'" [class]="'ficon'"></span></button>
              <span class="pt-line-3">|</span>
              <button rippleEffect (click)="size = size - 1" class="btn size-btn text-primary p-0" [disabled]="size <= 8">A<span [data-feather]="'zoom-out'" [class]="'ficon'"></span></button>
            </div>
          </div>
          <div class="col-sm-2 col-12 text-right">
            <button class="add-button" (click)="createRecipe()">
              <i class="fa fa-plus-circle"></i>
            </button>
          </div>
        </div>

        <section class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="rows" multiTemplateDataRows class="example-table w-100">
            <ng-container matColumnDef="star" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="w-10">&nbsp;</th>
              <td mat-cell *matCellDef="let element" class="w-10">
                  <button type="button" (click)="updateRecipe(element)" class="btn icon-btn btn-sm hide-arrow">
                    <span [data-feather]="'edit'" [size]="16" [class]="'mr-50'" [class]="'cursor-pointer'"></span>
                  </button>
                  <i *ngIf="element !== expandedElement" class="fa fa-chevron-right p-1"></i>
                  <i *ngIf="element === expandedElement" class="fa fa-chevron-down p-1"></i>
              </td>
            </ng-container>

            <ng-container matColumnDef="recipeName">
              <th mat-header-cell *matHeaderCellDef placement="top-left" container="body">
                <span class="th-header" [ngStyle]="{'font-size': size + 'px'}">{{ translateSnackBar.recipeName }}</span>
              </th>
              <td mat-cell *matCellDef="let element"><span [ngStyle]="{'font-size': size + 'px'}">{{element.recipeName}}</span></td>
            </ng-container>

            <ng-container matColumnDef="dieLiveQty">
              <th mat-header-cell *matHeaderCellDef placement="top-left" container="body">
                <span class="th-header" [ngStyle]="{'font-size': size + 'px'}">{{ translateSnackBar.dieLiveQty }}</span>
              </th>
              <td mat-cell *matCellDef="let element"><span [ngStyle]="{'font-size': size + 'px'}">{{element.dieLiveQty}}</span></td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div *ngIf="element === expandedElement" class="example-element-detail"
                     [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
                  <div class="example-element-diagram">
                    <div class="col-12">
                        <div class="text-right">
                          <button class="add-button" (click)="addResourceRow()">
                            <i class="fa fa-plus-circle"></i>
                          </button>
                        </div>
                        <div *ngIf="subRecipees.length === 0" class="text-center">{{ translateSnackBar.noData }}</div>
                        <div class="row">
                          <table *ngIf="subRecipees.length > 0" class="table m-1">
                            <thead>
                              <th></th>
                              <th>{{ translateSnackBar.step }}</th>
                              <th>{{ translateSnackBar.kilograms }}</th>
                              <th>{{ translateSnackBar.status }}</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let s of subRecipees; let ind = index">
                                  <td>
                                    <span *ngIf="!this.edit[ind] && s.id"
                                        (click)="this.edit[ind]=!this.edit[ind];$event.preventDefault(); $event.stopPropagation();">
                                        <i data-feather="edit" class="mr-25 mat-modal-icon" title="Modify"></i>
                                    </span>
                                    <span *ngIf="this.edit[ind] || !s.id" title="Save"
                                        (click)="operationSubRecipe(s, ind);$event.preventDefault(); $event.stopPropagation();">
                                        <i data-feather="save" class="mr-25 mat-modal-icon"></i>
                                    </span>
                                    <span *ngIf="this.edit[ind] && s.id" title="Delete"
                                        (click)="deleteSubRecipe(s,ind);$event.preventDefault(); $event.stopPropagation();">
                                        <i data-feather="delete" class="mr-25 mat-modal-icon"></i>
                                    </span>
                                  </td>
                                  <td>
                                    <input type="number" class="form-control dt-uname" matInput [(ngModel)]="s.step" [disabled]="!edit[ind] && s.id" required>
                                  </td>
                                  <td>
                                    <input type="number" class="form-control dt-uname" matInput [(ngModel)]="s.kilograms" [disabled]="!edit[ind] && s.id" required>
                                  </td>
                                  <td>
                                    <mat-checkbox style="display: inline-grid;" [(ngModel)]="s.status" [checked]="s.status" color="primary" [disabled]="!edit[ind] && s.id"></mat-checkbox>
                                  </td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                  </div>
                </div>
              </td>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.example-expanded-row]="expandedElement === row"
            (click)="expandedElement = expandedElement === row ? null : row" (click)="toggleExpandRow(row, expanded)"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>
        </section>
      </div>
    </section>
  </div>
</div>
