// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vuexy-primary: mat.define-palette(mat.$indigo-palette);
$vuexy-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vuexy-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vuexy-theme: mat.define-light-theme((color: (primary: $vuexy-primary,
        accent: $vuexy-accent,
        warn: $vuexy-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vuexy-theme);

@import './app/@core/scss/core.scss';
@import './assets/scss/styles';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import './app/@core/scss/angular/libs/datatables.component.scss';
@import './app/@core/scss/base/pages/app-user.scss';
@import './app/@core/scss/angular/libs/select.component.scss';
/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import './app/@core/scss/angular/libs/blockui.component.scss';


// ngx-toastr css
@import '~ngx-toastr/toastr.css';

// extended toastr scss
@import './app/@core/scss/base/plugins/extensions/ext-component-toastr';

.toast-close-button {
  line-height: 1;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active:hover a {
  width: 35px !important;
}

.ngx-pagination .current {
  background: #7367f0 !important;
}

.modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // padding-top: 20%!important;
  // padding-bottom: 20%!important;
}

// @import './app/@core/scss/base/pages/app-calendar.scss';
@import './app/@core/scss/angular/libs/flatpickr.component.scss';
@import './app/@core/scss/angular/libs/select.component.scss';

@import './app/@core/scss/base/bootstrap-extended/include.scss'; // Bootstrap includes
// @import '~@fullcalendar/daygrid/main.css';

//  Main Sidebar
app-calendar-main-sidebar {
  height: 100%;
  flex-direction: column;
  display: flex;
}

// Sidebar Toggle Button
.fc-sidebarToggle-button {
  background-image: url(str-replace(str-replace($menu, 'currentColor', $body-color), '#', '%23'));
  width: 24px;
  height: 24px;
  margin-right: 0.7rem !important;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

// Hide sidebar toggle in lg screen
@include media-breakpoint-up(lg) {
  .fc-sidebarToggle-button {
    display: none !important;
  }
}

.fc {
  .fc-button-primary {
    &:not(:disabled) {
      &:active:focus {
        box-shadow: none !important;
      }
    }
  }

  .fc-button-active {
    &:focus {
      box-shadow: none !important;

      &:active {
        box-shadow: none !important;
      }
    }
  }
}

// ! Fix: fixed chrome bug
.fc-scrollgrid-section-liquid {
  height: 1px !important;
}

.datatable-body-cell-label {
  width: -webkit-fill-available !important;
}

.search-btn {
  border: 1px solid #d8d6de;
}

.search-input {
  border: 1px solid #d8d6de;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active:hover a {
  border-radius: unset !important;
  width: auto !important;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager .pager {
  background-color: transparent !important;
}

.datatable-icon-prev,
.datatable-icon-skip {
  display: none !important;
}

.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after,
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  content: none !important;
}

.pagination-previous,
.pagination-next {
  font-size: 18px !important;
}

.modal .modal-content {
  box-shadow: none !important;
}

::ng-deep ng-select {
  width: -webkit-fill-available !important;
}

.current {
  cursor: pointer;
}

.bold {
  font-weight: 500;
}

.ngx-datatable.bootstrap {
  font-size: 11px;
  margin: 15px;
}

.spinner-border {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
  animation: 0.75s linear infinite spinner-border;
  color: #7367f0 !important;
}

.loader-section {
  text-align: center;
  z-index: 9999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

select.form-control:not([multiple=multiple]) {
  background-position: calc(100% - 9px) 10px, calc(100% - 20px) 13px, 100% 0 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #7367f0 !important;
  color: white !important;
}

.ngx-datatable .datatable-footer .datatable-footer-inner {
  width: 100% !important;
}

//RESPONSIVE

//! Toastr icon position in small screen fix
@media (max-width: 480px) and (min-width: 241px) {
  #toast-container>.toast {
    &:after {
      top: 1.44rem;
    }
  }
}

@media (min-width: 740px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: -webkit-fill-available !important;
  }
}

@media (max-width: 599px) {
  .ngx-datatable.bootstrap {
    margin: 5px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ngx-datatable *,
.ngx-datatable :after,
.ngx-datatable :before {
  font-family: "Montserrat", Helvetica, Arial, serif;
  // font-weight: 600;
  font-size: 10px;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-body-row .datatable-body-cell {
  padding: 0.3rem 1rem !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-size: 12px !important;
}

.text-truncate {
  overflow: visible;
  text-overflow: ellipsis;
  white-space: pre-line;
  font-size: 12px;
}

.modal-title {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}

.datatable-header-cell-template-wrap span,
.datatable-header-cell-template-wrap div div .text-center {
  font-size: 9px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #7367f0 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #7367f0 !important;
}

.toast-container * {
  font-size: 13px;
}

.ngx-pagination {
  float: right !important;
}

.bell-orange {
  color: orange !important;
  margin-left: 10px;
  cursor: pointer;
}

.bell-red {
  color: red !important;
  margin-left: 10px;
  cursor: pointer;
}

.date-bell {
  display: flex;
}

.mat-menu-content {
  display: flex;
}

::ng-deep .ngx-datatable.bootstrap.core-bootstrap .datatable-header {
  height: auto !important;
}

::ng-deep .form-control {
  border: 1px solid #d8d6de !important;
}

:host ::ng-deep.ngx-datatable .datatable-header .datatable-header-cell .sort-btn {
  // position: relative!important;
  bottom: 15px !important;
}

// ::ng-deep.ng-dropdown-panel .scroll-host{
//     width: auto!important;
// }
.form-control {
  width: -webkit-fill-available;
}

.flex {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
}

.text-center {
  line-height: 3.625 !important;
}

.btn-sm,
.btn-group-sm>.btn {
  padding: 0.486rem 0.3rem 0.3rem 0rem;
}

.show-results {
  padding-top: 5px;
}

.mat-menu-panel,
.width-select {
  min-width: 200px !important;
}

.menu-btn {
  left: -5px !important;
}

// Badge

.badge {
  color: $white;

  &[class*='badge-'] {
    [class*='icon-'] {
      line-height: 1;
    }

    a {
      color: $white;
    }

    // badge dropdown alignment
    .dropdown-toggle,
    &.dropdown-toggle {

      span,
      i,
      svg {
        vertical-align: text-top;
      }

      i,
      svg {
        padding-left: 0.2rem;
      }

      &::after {
        position: relative;
        top: 0;
        left: 0;
        font-size: 1rem;
      }
    }

    .dropdown-menu {
      a {
        color: $dropdown-color;
      }
    }
  }

  i,
  svg {
    height: 12px;
    width: 11px;
    font-size: 12px;
    stroke-width: 3;
    vertical-align: top;
  }

  // square badge
  &.badge-square {
    border-radius: 0;
  }

  // badge-up
  // to align badge over any element
  &.badge-up {
    position: absolute;
    top: -17px;
    right: -3px;
    min-width: 1.429rem;
    min-height: 1.429rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.786rem;
    line-height: 0.786;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    &.badge-sm {
      top: -0.5rem;
      right: -0.5rem;
    }
  }
}

// For fullscreen search
.badge-icon {

  i,
  svg {
    font-size: 100%;
    margin-right: 5px;
  }
}

// badge dropup pointer
.dropup {
  .badge {
    cursor: pointer;
  }
}

.note-icon {
  margin-left: 7px;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: #6e6b7b;
}

.badge.badge-up {
  top: -7px !important;
  right: 7px !important;
}

.row-btns {
  width: auto;
  float: right;
  margin: 10px 6px 10px 6px;
}

.modal-dialog {
  position: initial !important;
}

////////////////////// NEW CSS
.flex {
  display: flex;
}

.alert-body {
  width: -webkit-fill-available;
}

.alert-primary .close {
  color: red !important;
  padding: 0 10px 0 10px;
}

.label-checkbox {
  width: -webkit-fill-available;
  line-height: 40px;
}

.main-menu.menu-light .navigation li a>* {
  font-size: 14px;
}

.main-menu.menu-light .navigation>li ul li ul a {
  padding: 10px 15px 10px 30px;
}

.vertical-layout.vertical-menu-modern .main-menu .navigation .menu-content>li>a svg,
.vertical-layout.vertical-menu-modern .main-menu .navigation .menu-content>li>a i {
  height: 16px !important;
  width: 16px !important;
  min-width: fit-content !important;
}

table {
  border-collapse: initial;
}

.mat-elevation-z8 {
  // box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 0px 4px 1px rgb(0 0 0 / 11%), 0px 3px 14px 2px rgb(0 0 0 / 6%)!important;
}

.filter-th {
  display: contents;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 1px!important;
  vertical-align: middle;
  border-left: 1px solid lightgrey;
  text-align: center;
}

th.mat-header-cell {
  text-align: center!important;
}

.th-header {
  top: 3px;
  position: relative;
}

.example-container {
  max-width: 100%;
  overflow: auto;
  margin: 1%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  vertical-align: initial;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  vertical-align: middle;
}

.mat-menu-trigger,
th {
  color: #7367f0 !important;
  font-size: 13px !important;
}

td.mat-cell {
  font-size: 12px !important;
  border-left: 1px solid lightgrey;
  text-align: center;
}

tr.mat-row,
tr.mat-footer-row {
  height: 38px !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

table {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-menu-content:not(:empty) {
  padding: 13px !important;
}

.mat-row .mat-cell {
  color: grey;
}

.clear-btn{
  padding: 10px;
  color: red;
  border: none;
}

.add-button{
  border:none;
  background: none;
}

.fa-plus-circle{
  font-size: 20px!important;
  color: yellowgreen;
}

.clasic-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: -webkit-fill-available;
  border-collapse: collapse;
}

.clasic-table th, .clasic-table td{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 5px;
}

.clasic-table tr{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

th {
  min-height: 40px;
  height: 40px;
  background: #F5F5F5!important;
  text-align: left;
}

td{
  font-size: 12px;
}

.pointer{
  cursor: pointer;
}

.block{
  display: block;
}

.mat-row:hover .mat-cell {
  background: #e6e6fa;
  cursor: pointer;
}


// Badge

.badge {
  color: $white;
  &[class*='badge-'] {
    [class*='icon-'] {
      line-height: 1;
    }

    a {
      color: $white;
    }

    // badge dropdown alignment
    .dropdown-toggle,
    &.dropdown-toggle {
      span,
      i,
      svg {
        vertical-align: text-top;
      }
      i,
      svg {
        padding-left: 0.2rem;
      }
      &::after {
        position: relative;
        top: 0;
        left: 0;
        font-size: 1rem;
      }
    }
    .dropdown-menu {
      a {
        color: $dropdown-color;
      }
    }
  }

  i,
  svg {
    height: 12px;
    width: 11px;
    font-size: 12px;
    stroke-width: 3;
    vertical-align: top;
  }

  // square badge
  &.badge-square {
    border-radius: 0;
  }

  // badge-up
  // to align badge over any element
  &.badge-up {
    position: relative;
    top: -11px;
    right: -9px;
    min-width: 1.429rem;
    min-height: 1.429rem;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    font-size: 0.786rem;
    line-height: normal;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    &.badge-sm {
      top: -0.5rem;
      right: -0.5rem;
    }
  }
}

// For fullscreen search
.badge-icon {
  i,
  svg {
    font-size: 100%;
    margin-right: 5px;
  }
}

// badge dropup pointer
.dropup {
  .badge {
    cursor: pointer;
  }
}
.note-icon{
  margin-left: 7px;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: #6e6b7b;
}
.badge.badge-up {
  top: -7px!important;
  right: 7px!important;
  background: #7367f0;
}
input[type=radio], input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
  width: 77px;
  height: 15px;
}
.error-date, .error-date div{
  border: 1px solid red;
}
.error-date-bottom{
  border-bottom: 1px solid red;
}
.main-menu.menu-light .navigation > li > ul li.has-sub > ul > li {
  margin: 0 3px;
}
.red-bin{
  color: red;
  float: right;
}
.custom-file-label, .custom-file-input{
  cursor: pointer;
}
.upload-green{
  color: #28c76f;
  cursor: pointer;
}
.main-menu.menu-light .navigation > li ul li > a {
  padding: 10px 15px 10px 40px;
}
.lock-icon{
  color: red;
  font-size: 14px;
}
.mat-tooltip{
  background-color: #7367f0;
  max-width: -webkit-fill-available!important;
  min-width: -webkit-fill-available!important;
  width: -webkit-fill-available!important;
  font-size: 12px;
}

.modal-full-screen, .modal-dialog-screen.modal-full-screen{
  max-height: fit-content!important;
  height: -webkit-fill-available!important;
  width: 100%!important;
  overflow: auto;
}

.modal-normal-screen, .modal-dialog-screen.modal-normal-screen{
  max-height: 850px;
  width: 130rem!important;
  overflow: auto;
}

.modal-dialog-screen {
  width: 130rem!important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  overflow: scroll;
  max-height: 850px;
  position: fixed;
  z-index: 100;
  max-width: calc(100% - 16px) !important;
  margin: auto;
}

.modal.fade .modal-dialog-screen {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

.modal-icon-header{
  margin-top: 3px!important;
  padding-right: 10px!important;
  color: #746aee!important;
  background: transparent !important;
  border: 0;
  outline: none;
}

.btn .badge{
  top: -5px !important;
    background: #ff9f43;
    font-size: 9px;
    top: -11px;
    min-width: 1rem;
    line-height: normal;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container, .ng-dropdown-panel {
  z-index: 99999 !important;
}

mat-label{
  display: block;
}

@media (max-width: 1240px) {
  .modal-dialog-screen {
      overflow: scroll !important;
      overflow-x: hidden !important;
  }
}

.dark-layout table.mat-table{
  border-top: 1px solid #2f3548!important;
}

.dark-layout th {
  background-color: #191f30!important;
}

.dark-layout tr {
  background-color: #283046!important;
}

.dark-layout tr:hover td{
  background: #3f4b6d!important;
}

.dark-layout td, .filters-header, .mat-expansion-indicator::after{
  color: #b0b3ba!important;
}

html .content.app-content {
  padding: calc(1rem + 4.45rem + 1.3rem) 1rem 0;
}

.header-navbar.floating-nav {
  width: calc(100vw - (100vw - 100%) - calc(1rem * 2) - 260px);
}

@media (max-width: 1199.98px) {
  .header-navbar.floating-nav {
    width: calc(100vw - (100vw - 100%) - calc(2rem * 1))!important;
  }
}

.dark-layout .ngx-pagination a, .disabled{
  color: #b0b3ba!important;
}

.dark-layout .dark-theme-color label, .die-view p{
  color: #b0b3ba!important;
}

.dark-layout .light-header-color label{
  color: #393941!important;
}

.dark-layout .ngx-pagination a:hover{
  background: #3f4b6d!important;
}

.dark-layout mat-expansion-panel{
  background-color: #283046!important;
}

.dark-layout .filters-column{
  background: #3f4b6d!important;
  border: 1px solid #4d5a7e!important;
  margin-right: 9px;
  margin-bottom: 9px;
}

.example-container{
  max-height: 620px;
}

@media (min-width: 1920px) {
  .example-container{
    max-height: 800px;
  }
}

.block-ui-wrapper.active {
  opacity: 0.3;
}

.size-feather{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.block-ui-spinner > .message {
  font-size: 2.3em!important;
  text-align: center;
  color: rgba(75,0,130, 1)!important;
  font-weight: 500!important;
}

.loader {
  margin: 20px auto!important;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: 2.1em solid rgba(75,0,130, 1)!important;
  border-right: 2.1em solid rgba(75,0,130, 1)!important;
  border-bottom: 2.1em solid rgba(75,0,130, 1)!important;
  border-left: 2.1em solid #ffffff!important;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loader, .loader:after {
  border-radius: 50%!important;
  width: 20em!important;
  height: 20em!important;
}

.red-delete{
  color: red;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
  padding-left: 15px;
}

.border {
  border: 1px solid #ebe9f1 !important;
  height: 290px;
  margin: 2px;
  border-radius: 7%;
}

.border-date {
  border: 1px solid #ebe9f1 !important;
  height: 290px;
  margin: 2px;
  border-radius: 7%;
}

.card .card {
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1) !important;
}

.header-filter {
  color: #7367f0 !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px;
}

.box-filter{
  height: 200px;
  // overflow: auto;
}

.inf-scroll{
  overflow: auto;
  height: 150px;
}

.input-group-prepend button, .input-group-append button {
  padding: 1px 4px 1px 4px;
}

.mat-expansion-panel-header {
  padding: 0 25px 0 0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-expansion-panel-header.mat-expanded {
  height: -webkit-fill-available;
  padding: 5px 24px 5px 0;
}

.text-center {
  line-height: 1.625 !important;
}

.mat-expansion-panel-header {
  padding: 15px 15px 5px 5px!important;
}

.mat-expansion-panel-header {
  min-height: 48px;
  height: -webkit-fill-available;
}

.fa-sort:before, .fa-unsorted:before {
  content: "\f0dc";
  color: #7367f0;
}

th button {
  padding: 5px!important;
}

.date-range .mat-date-range-input-container{
  height: 40px;
}

@media (min-height: 910px) {
  .modal-normal-screen, .modal-dialog-screen.modal-normal-screen{
    height: fit-content!important;
  }
}

@media (max-height: 909px) {
  .modal-normal-screen, .modal-dialog-screen.modal-normal-screen{
    height: 610px!important;
  }
}

input[type="search"] {
  height: 1.714rem;
  padding: 0;
}

.filters-column .col-12 {
  padding: 5px;
}
